@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Something go wrong? Don't know how to fix it? Let us take care of that.</h3>

<address>
    247 W Freshwater Way<br />
    Milwaukee, WI 53204<br />
    <abbr title="Phone">P:</abbr>
    412.616.8942
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ZaksMarket@nana.com">ZaksMarket@nana.com</a><br />
</address>