@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Zak's online market!</h1>
    <p class="lead"> Here you can sign up for catering, or special featured lunches. You can also find our contact information from our contact page from the dropdown window above. Have a great day!</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Place a catering order</h2>
        <p>
            Got a big meeting that needs a little extra umph? Maybe you're just extra hungry for some of our signature dishes, ready just when you want it! You can view our variety of options here, and place an order. Please understand that we require atleast 48 hours advance notice before your event. How else can we make it so great on short notice???
        </p>
        <p><a class="btn btn-success" href="..\CateringInvoice\Create">Get Started here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View our featured lunches</h2>
        <p>Take a look at our upcoming feature lunches. If you'd like, you can even sign up ahead of time and pay so you dont have to wait in line!</p>
        <p><a class="btn btn-success" href="@Url.Action("Index","SpecialLunch")">See what's cookin'! &raquo;</a></p>
    </div>

@if ((User.IsInRole("Admin")) || (User.IsInRole("Employee")))
{


    <div class="col-md-4">
        <h2>Employee & Admin Resources</h2>
        <p>Our side for management. If you're just a regular ol' guy or gal, then you won't find much of use here.</p>
        <p><a class="btn btn-success" href="..\Home\EmployeeTools">Access Employee tools &raquo;</a></p>
    </div>
}
</div>